* {
	font-family: "Averia Sans Libre", cursive;
}
body {
	padding: 10%;
	background: black;
	display: flex;
	justify-content: center;
}
p {
	color: black;
	font-size: 1rem;
	padding: 3%;
}
.postcard {
	background: white;
	min-width: 370px;
	max-width: 400px;
	height: auto;
	margin: none;
}
.postcard-header,.postcard-body {
	display: flex;
}
.postcard-footer {
	text-align: center;
	padding: 10px;
	background-color: white;
}
body-left {
	background: rgb(145, 112, 112);
	width: 50%;
	height: 50px;
	margin: none;
	padding: 10px;
}
body-right {
	background: rgb(203, 217, 223);
	width: 50%;
	height: 50px;
	margin: none;
	padding: 10px;
}
#imagen1 {
	width: 60px;
	height: auto;
	padding-top: 10px;
	padding-right: 10px;
}
#h1 {
	padding-top: 5%;
	width: 100%;
	margin: 3px;
}
#button1 {
	background: rgba(231, 218, 218, 0.596);
	font-size: 1rem;
}
input {
	font-size: 1rem;
	border: 0px;
	border-bottom: double 2px;
	padding: 5px 3px;
}
form {
	padding: 15px 10px 0px 0px;
}
